Repository MmgTools/mmg, pull requests merged in 2024-04, with the labels that each got.

#258 Feature/code coverage
  .github/workflows/fast-check.yml
  .github/workflows/long-tests.yml
  .github/workflows/main-job.yml
  codecov.yml
Labels: kind: enhancement, part: github action

#257 avoid exits from MMG5_coltet()
  src/mmg3d/boulep_3d.c
  src/mmg3d/mmg3d1.c
Labels: kind: enhancement, kind: cleanup, part: mmg3d

#259 Refactoring MMG5_chkBdryTria
  cmake/testing/mmg3d_tests.cmake
  src/mmg3d/hash_3d.c
  src/mmg3d/libmmg3d_private.h
Labels: kind: refactoring, part: mmg3d

#261 Correctly find dependencies when installed
  cmake/config/mmgConfig.cmake.in
Labels: kind: enhancement, part: cmake

#262 Create a dedicated job for coverage submission to codecov
  .github/workflows/main-job.yml
Labels: kind: enhancement, part: github action
