Repository MmgTools/mmg, pull requests merged in 2024-09, with the labels that each got.

#280 Change tag type (int -> uint) and add the tag MG_OVERLAP (for ParMmg)
  .vscode/c_cpp_properties.json
  cmake/testing/code/mmg_get_tagname.c
  cmake/testing/code/ridge-preservation-in-ls-mode.c
  cmake/testing/mmg_tests.cmake
  src/common/API_functions.c
  src/common/hash.c
  src/common/libmmgcommon_private.h
  src/common/libmmgtypes.h
  src/common/mmgcommon_private.h
  src/mmg2d/analys_2d.c
  src/mmg2d/libmmg2d_private.h
  src/mmg2d/zaldy_2d.c
  src/mmg3d/analys_3d.c
  src/mmg3d/anisomovpt_3d.c
  src/mmg3d/boulep_3d.c
  src/mmg3d/chkmsh_3d.c
  src/mmg3d/colver_3d.c
  src/mmg3d/hash_3d.c
  src/mmg3d/intmet_3d.c
  src/mmg3d/libmmg3d_private.h
  src/mmg3d/mmg3d1.c
  src/mmg3d/mmg3d1_delone.c
  src/mmg3d/mmg3d2.c
  src/mmg3d/mmg3d3.c
  src/mmg3d/movpt_3d.c
  src/mmg3d/split_3d.c
  src/mmg3d/swap_3d.c
  src/mmg3d/zaldy_3d.c
  src/mmgs/analys_s.c
  src/mmgs/hash_s.c
Labels: part: mmg3d

#281 Fix wrong integer conversion when computing xpmax in norver function
  src/mmg3d/analys_3d.c
Labels: kind: cleanup, part: mmg3d

#283 Fix storage of tags in `MMG5_swap23`
  src/mmg3d/chkmsh_3d.c
  src/mmg3d/swap_3d.c
Labels: kind: bug, part: mmg3d
