Repository MmgTools/mmg, pull requests merged in 2024-05, with the labels that each got.

#237 Feature/bdy edge interp
  src/mmg3d/intmet_3d.c
  src/mmg3d/mmg3d1.c
  src/mmg3d/mmg3d1_delone.c
  src/mmg3d/mmg3d1_pattern.c
  src/mmg3d/optbdry_3d.c
  src/mmg3d/swap_3d.c
Labels: kind: bug, part: mmg3d, part: surface model

#267 Only find dependency when required
  cmake/config/mmgConfig.cmake.in
Labels: kind: enhancement, part: cmake

#266 Avoid switching 2nd and 3rd triangle vertices
  src/mmg2d/API_functions_2d.c
  src/mmg3d/API_functions_3d.c
  src/mmgs/API_functions_s.c
Labels: kind: enhancement, part: I/O

#273 Feature/required vertices preservation
  cmake/testing/code/req-vert-3d.c
  cmake/testing/code/req-vert-s.c
  cmake/testing/libmmg3d_tests.cmake
  cmake/testing/libmmgs_tests.cmake
  src/mmg3d/analys_3d.c
  src/mmgs/analys_s.c
Labels: kind: bug, part: mmg3d, part: mesh adaptation
